@media only screen 
  and (min-device-width: 20em)  
  and (max-device-width: 30em) {

    body{
  font-size: 75px;
  background-image: url(images/raptorjebus.jpg);
  background-repeat: no-repeat;
  background-size: 980px 880px;
  background-color: #f00;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}
.users{
  height: 150px;
  width: 150px;
  border-radius: 500px;
  background-color: #00f;
  margin: 10px;
}
.users:nth-child(1) {
  background-image: url('images/user1.jpg');
  background-size: cover;
}
.users:nth-child(2) {
  background-image: url('images/user2.jpg');
  background-size: cover;
}
.users:nth-child(3) {
  background-image: url('images/user3.jpg');
  background-size: cover;
}
.users:nth-child(4) {
  background-image: url('images/user4.jpg');
  background-size: cover;
}
.users:nth-child(5) {
  background-image: url('images/user5.jpg');
  background-size: cover;
}
h1 {
  text-align: center;
  line-height: 1500px;
}
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 350px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
  }