
.phones {
  visibility: hidden;
  position: fixed;
}
body {
  background-color: #aaa;
}
.welcome {
  text-align: center;
  line-height: 120px;
  font-size: 30px;
}
.webpage p {
  padding: 40px;
}

/** Collapse Menu **/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #94B6A6;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}

.animate, header .content nav ul li a {
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
}

.animate-ease, header .content, header .handle .bars .bar {
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.main-header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

header .content {
  background-color: #fff;
  width: 100%;
  height: 90px;
  line-height: 80px;
  padding-top: 10px;
  position: absolute;
  top: -90px;
  left: 0;
  z-index: 5;
}
header .content nav ul {
  list-style-type: none;
  font-size: 0;
}
header .content nav ul li {
  display: inline-block;
  margin-right: 25px;
}
header .content nav ul li a {
  font-weight: 600;
  font-size: 16px;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
}
header .content nav ul li a:hover {
  color: #2980b9;
}
header .handle {
  background-color: #fff;
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
header .handle .bars {
  width: 40px;
  height: 26px;
  position: absolute;
  top: 27px;
  left: 20px;
}
header .handle .bars .bar {
  background-color: #666;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
}
header .handle .bars .bar:nth-child(1) {
  top: 0;
}
header .handle .bars .bar:nth-child(2) {
  top: 12px;
}
header .handle .bars .bar:nth-child(3) {
  bottom: 0;
}
header .handle:hover .bars .bar {
  opacity: .7;
}
header.expanded .content {
  top: -10px;
}
header.expanded .handle .bars .bar:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
header.expanded .handle .bars .bar:nth-child(2) {
  opacity: 0;
}
header.expanded .handle .bars .bar:nth-child(3) {
  bottom: 12px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*****End of Collaspse Modal**/


/*--------------MEDIA QUERY----------------*/
/*------------------Generalized smartphones---------*/

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
body{
  font-size: 75px;
  background-image: url(images/beerthing.jpg);
  background-repeat: no-repeat;
  background-size: 980px 680px;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}

.noome {
  background-image: url(images/logo1.png);
  color: #fff;
  position: fixed;
  background-size: cover;
  top: 700px;
  text-align: center;
  left: 30%;
  z-index: 2;
  width: 408px;
  height: 120px;
}
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 320px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
.barnames{

}
.bars{
  text-align: center;
  line-height: 200px;
  height: 220px;
  background-color: #fff;
}
.bars:nth-child(even){
  background-color: #aaa;
  height: 220px;
}
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

body{
  font-size: 75px;
  background-image: url(images/beerthing.jpg);
  background-repeat: no-repeat;
  background-size: 980px 680px;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}

.noome {
  background-image: url(images/logo1.png);
  c
  background-size: cover;
  top: 700px;
  position: fixed;
  z-index: 2;
  width: 408px;
  height: 120px;
  
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 320px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
.barnames{

}
.bars{
  text-align: center;
  line-height: 200px;
  height: 220px;
  background-color: #fff;
}
.bars:nth-child(even){
  background-color: #aaa;
  height: 220px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body{
  font-size: 75px;
  background-image: url(images/beerthing.jpg);
  background-repeat: no-repeat;
  background-size: 980px 680px;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}

.noome {
  background-image: url(images/logo1.png);
  color: #fff;
  position: fixed;
  background-size: cover;
  top: 700px;
  text-align: center;
  left: 30%;
  z-index: 2;
  width: 408px;
  height: 120px;
}
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 320px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
.barnames{

}
.bars{
  text-align: center;
  line-height: 200px;
  height: 220px;
  background-color: #fff;
}
.bars:nth-child(even){
  background-color: #aaa;
  height: 220px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
body{
  font-size: 75px;
  background-image: url(images/beerthing.jpg);
  background-repeat: no-repeat;
  background-size: 980px 680px;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}

.noome {
  background-image: url(images/logo1.png);
  color: #fff;
  position: fixed;
  background-size: cover;
  top: 700px;
  text-align: center;
  left: 30%;
  z-index: 2;
  width: 408px;
  height: 120px;
}
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 320px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
.barnames{

}
.bars{
  text-align: center;
  line-height: 200px;
  height: 220px;
  background-color: #fff;
}
.bars:nth-child(even){
  background-color: #aaa;
  height: 220px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
body{
  font-size: 75px;
  background-image: url(images/beerthing.jpg);
  background-repeat: no-repeat;
  background-size: 980px 680px;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}

.noome {
  background-image: url(images/logo1.png);
  color: #fff;
  position: fixed;
  background-size: cover;
  top: 700px;
  text-align: center;
  left: 30%;
  z-index: 2;
  width: 408px;
  height: 120px;
}
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 320px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
.barnames{

}
.bars{
  text-align: center;
  line-height: 200px;
  height: 220px;
  background-color: #fff;
}
.bars:nth-child(even){
  background-color: #aaa;
  height: 220px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
/*--------Androids--------*/
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
body{
  font-size: 75px;
  background-image: url(images/beerthing.jpg);
  background-repeat: no-repeat;
  background-size: 980px 680px;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}

.noome {
  background-image: url(images/logo1.png);
  color: #fff;
  position: fixed;
  background-size: cover;
  top: 700px;
  text-align: center;
  left: 30%;
  z-index: 2;
  width: 408px;
  height: 120px;
}
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 320px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
.barnames{

}
.bars{
  text-align: center;
  line-height: 200px;
  height: 220px;
  background-color: #fff;
}
.bars:nth-child(even){
  background-color: #aaa;
  height: 220px;
}
}
@media only screen 
  and (min-device-width: 20em)  
  and (max-device-width: 30em) {

    body{
  font-size: 75px;
  background-image: url(images/beerthing.jpg);
  background-repeat: no-repeat;
  background-size: 980px 680px;
}
.webpage{
  visibility: hidden;
  position: fixed;
}
.phones{
  visibility: visible;
  position: inherit;
}

.noome {
  background-image: url(images/logo1.png);
  color: #fff;
  position: fixed;
  background-size: cover;
  top: 700px;
  text-align: center;
  left: 30%;
  z-index: 2;
  width: 408px;
  height: 120px;
}
.userName {
  position: fixed;
  font-size: 50px;
  top: 900px;
  left: 320px;
}
button a {
  text-decoration: none;
  color: #000;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 4000px;
  background-color: #f00;
  position: fixed;
  top: 1000px;
  left: 40%;
}
.barnames{

}
.bars{
  text-align: center;
  line-height: 200px;
  height: 220px;
  background-color: #fff;
}
.bars:nth-child(even){
  background-color: #aaa;
  height: 220px;
}
  }
